@(title: Option[String], bodyClasses: Option[String], htmlLang: Option[String] = None)(head:Html, bodyStart:Html, bodyEnd:Html, insideHeader:Html, afterHeader:Html, footerTop:Html, footerLinks:Html, headerClass:Html = HtmlFormat.empty, propositionHeader:Html = HtmlFormat.empty, homepageUrl:Option[Html] = None, globalHeaderText:Option[Html] = None, cookieMessage: Option[Html] = None, skipLinkMessage:Option[Html], logoLinkTitle:Option[Html] = None, licenceMessage:Html, crownCopyrightMessage:Option[Html])(content:Html)
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="@htmlLang.getOrElse("en")"><![endif]-->
<!--[if gt IE 8]><!--><html lang="@htmlLang.getOrElse("en")"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>@title.getOrElse("GOV.UK - The best place to find government services and information")</title>

    <!--[if gt IE 8]><!--><link href="@routes.Template.at("stylesheets/govuk-template.css")" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="@routes.Template.at("stylesheets/govuk-template-ie6.css")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="@routes.Template.at("stylesheets/govuk-template-ie7.css")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="@routes.Template.at("stylesheets/govuk-template-ie8.css")" media="screen" rel="stylesheet" /><![endif]-->
    <link href="@routes.Template.at("stylesheets/govuk-template-print.css")" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="@routes.Template.at("stylesheets/fonts-ie8.css")" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="@routes.Template.at("stylesheets/fonts.css")" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="@routes.Template.at("javascripts/ie.js")"></script><![endif]-->

    <link rel="shortcut icon" href="@routes.Template.at("images/favicon.ico")" type="image/x-icon" />
    
    <link rel="mask-icon" href="@routes.Template.at("images/gov.uk_logotype_crown.svg")" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@routes.Template.at("images/apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@routes.Template.at("images/apple-touch-icon-120x120.png")">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@routes.Template.at("images/apple-touch-icon-76x76.png")">
    <link rel="apple-touch-icon-precomposed" href="@routes.Template.at("images/apple-touch-icon-60x60.png")">

    
    <meta name="theme-color" content="#0b0c0c" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="@routes.Template.at("images/opengraph-image.png")">

    @head
  </head>

  <body class="@bodyClasses.getOrElse("")">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    @bodyStart

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">@skipLinkMessage.getOrElse("Skip to main content")</a>
      </div>
    </div>

    <div id="global-cookie-message">
      
        @cookieMessage.getOrElse("<p>GOV.UK uses cookies to make the site simpler. <a href=\"https://www.gov.uk/help/cookies\">Find out more about cookies</a></p>")
      
    </div>

    
    <header role="banner" id="global-header" class="@headerClass">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="@homepageUrl.getOrElse("https://www.gov.uk/")" title="@logoLinkTitle.getOrElse("Go to the GOV.UK homepage")" id="logo" class="content">
              <img src="@routes.Template.at("images/gov.uk_logotype_crown_invert_trans.png")" width="36" height="32" alt=""> @globalHeaderText.getOrElse("GOV.UK")
            </a>
          </div>
          @insideHeader
        </div>
        @propositionHeader
      </div>
    </header>
    

    @afterHeader

    <div id="global-header-bar"></div>

    @content

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        @footerTop

        <div class="footer-meta">
          <div class="footer-meta-inner">
            @footerLinks

            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              
                @licenceMessage
              
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">@crownCopyrightMessage.getOrElse("&copy; Crown copyright")</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="@routes.Template.at("javascripts/govuk-template.js")"></script>

    @bodyEnd

    
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>
